Activité_soap/clientSoap/clientSoap/src/main/java/proxy/bankAccounrService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="bankAccountServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8989/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<message name="getAllAccount">
<part name="parameters" element="tns:getAllAccount"/>
</message>
<message name="getAllAccountResponse">
<part name="parameters" element="tns:getAllAccountResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="bankAccountService">
<operation name="conversion">
<input wsam:Action="http://ws/bankAccountService/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://ws/bankAccountService/conversionResponse" message="tns:conversionResponse"/>
</operation>
<operation name="getAllAccount">
<input wsam:Action="http://ws/bankAccountService/getAllAccountRequest" message="tns:getAllAccount"/>
<output wsam:Action="http://ws/bankAccountService/getAllAccountResponse" message="tns:getAllAccountResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/bankAccountService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/bankAccountService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="bankAccountServicePortBinding" type="tns:bankAccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bankAccountServiceService">
<port name="bankAccountServicePort" binding="tns:bankAccountServicePortBinding">
<soap:address location="http://localhost:8989/"/>
</port>
</service>
</definitions>